@import './common';
@import './bootstrap/bootstrap';
$maxWidth:1000px;
html,
body {
    width: 100%;
    background-color: #000;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
}
html{
    background-image:url(http://lorempixel.com/1300/1000/);
    height: 100%;
}
body{
    background-color:rgba(0,0,0,.3);
    min-height:100%;
}
input,
button {
    appearance: none;
    -webkit-appearance: none;
    /* Safari 和 Chrome */
}
.time{
    margin:0;
}
.m-progress-wrap{
    background:#fff;
    padding:0;
}
.main-canvas{
    position:fixed;
    z-index: 3;
    bottom:0;
    left:0;
    width: 100%;
    .canvas-wrap{
        width: 100%;
        max-width: $maxWidth;
        margin:0 auto;
        canvas{
            position:absolute;
            bottom:0;
        }
    }
}
.content{
    min-height: 100%;
    position:relative;
    z-index: 5;
    max-width: $maxWidth;
    padding-bottom:50px;
    margin:0 auto;
}
.control-box{
    // background:rgba(255,255,255,.5);
    color:#fff;
    padding:10px;
    margin:0;
}
.m-progress{
    background:#f70;
    height: 3px;
    width: 0%;
}
.player-btns {
    .iconfont{
        margin-right:10px;
    }
}
.slider-wrap{
    display: table;
}
.volumn{
    padding-right:5px;
}
.volumn,.dslide-wrap{
    font-size: 16px;
     display: table-cell;
     vertical-align: middle;
}
.m-pic,.m-title{
    margin:10px auto;
}
.m-pic{
    width: 120px;
    height:120px;
    border:3px solid #fff;
    display: inline-block;
    border-radius:50%;
}
.list-box{
    max-height: 370px;
    overflow-y:auto;
    font-size:14px;
    .list-itm{
        list-style: none;
        padding:5px;
        cursor: pointer;
        &.active{
            border-bottom:1px dashed #999;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            &:before{
                 font-family:"iconfont" !important;
                content: "\e61e";
            }
        }
    } 
}
.dslider {
    
    position: relative;
    margin: 20px 0;
    width: 80px;
    height: 2px;
    background: #0e0;
}

.dslider .cross {
    height: 100%;
}

.dslider .handler {
    position: absolute;
    top: -6px;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    display: block;
}
.rotating{
    animation: rotating 7s linear infinite;
}
@-webkit-keyframes rotating{
    0% {
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes rotating{
    0% {
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}